{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class = "about"> 
    <div class = "nama">
        <h1>Marandi Efendi</h1>
    </div>
    <div class = "isiAbout">
        <p>
                Hi, I’m Andi. 
                <br>
                <br>
                I am from Bogor, Indonesia. Currently undergoing semester 3 study at the University of Indonesia majoring in Information Systems. 
                <br>
                <br>
                Captivated by programming, strategy games, announcer, decoration, and communication. 
                <br>
                <br>
                Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it, and to be surrounded by those who bring out the best in me.
        </p>

        <img src = "{% static 'Creative_DnCe_Muhammad Marandi3.jpg.png' %}" alt = "Foto Andi" class = "foto">
        
        </div>
        
    </div>
</div>
<div class = "garis">
        
</div>
{% endblock content %}