{% load static %}
<!DOCTYPE >
<html> 
    <head>
            <title>Schedule</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="{% static 'schedule.css' %}">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

          </head>
    </head>       
        <body>
            <header>
                <div class= "menu-toggle"></div>
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">About</a> </li>
                            <li><a href="{% url 'exped' %}">Experience & Education</a></li>
                            <li><a href="{% url 'skills' %}">Skills</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'schedule' %}">Schedule</a></li>
                    </ul>
                </nav>
            
            </header>
            <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('.menu-toggle').click(function(){
                        $('nav').toggleClass('active')
                    })
                })
            </script>
        <div class="schedule" style="margin-left: 6%">
            <h1> Make a Schedule</h1>
        </div>
                <div class="row">
                {% for schedule in schedules %}
                <div class="col-sm-4 text-left" style="margin-left: 6%">
                    <p>{{ schedule.date.date }}</p>
                    <p>{{ schedule.time }}</p>
                    <p>{{ schedule.activity }}</p>
                    <p>{{ schedule.place }}</p>
                    <p>{{ schedule.category }}</p>

                    <div class = 'form-group'>
                            <form action="{% url 'schedule_delete' %}" method="POST">
                                {% csrf_token %}
                                <input value="{{ schedule.id }}" name="id" type="hidden">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                    </div>
                </div>
                {% endfor %}
                </div>
            <div class = 'col-md-12' style="margin-left:5%">
                <a href="{% url 'schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
            </div>
            <div class = "garis">
        
                </div>
        </body>

</html>