@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Roboto+Mono:300|Roboto:100i&display=swap");


body{
    margin : 0;
    padding : 0;
    background-color: #F6F5F3 !important;

}
a{
    font-family: "Montserrat", sans-serif;
    font-weight : 500;
    font-size :  18px;
    line-height : 22px
}
nav{
    list-style: none;    
    padding-left: 1%; 
    padding-top : 1%; 
}
nav li{
    display: inline-block;
    padding: 0px 20px;
}
nav li a {
    transition: all 0.3s ease 0s;
    display: block;
    text-decoration: none;
}
nav li a:hover{
    color:#7dce94
}
nav a{
    color:#3D3D3F

}
header {
    display : flex;
    align-items: center;
    
}
.garis{
    display: flex;
    position: absolute;
    width: 333px;
    height: 0px;
    left: 400px;
    top: 800px;
    border: 2px solid #3D3D3F;  
    transform: rotate(-0.14deg);
}
header {
    display : flex;
    align-items: center;
}

.garis{
    display: flex;
    position: absolute;
    width: 333px;
    height: 0px;
    left: 400px;
    top: 800px;
    border: 2px solid #3D3D3F;  
    transform: rotate(-0.14deg); 
}
.judul h1{
    font-family: "Roboto Mono", sans-serif;
    color: #3D3D3F;
    
    
    padding-top :5%;
}
.contact td{
    font-size: 40px;
    padding-left: 20%;
}
.contact{
    padding-top:7%;
}
@media only screen and (max-width: 375px){
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    nav{
        display: none;
        list-style:none;
    }
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
    .garis{
        display:none;
    }
    .judul h1{
        font-size: 26px;
        margin-top: 40px;
    }
    img{
        width: 55px;
    }
    .contact td{
        padding-left:15px;
        font-size: 20px;
    }
    .contact img{
        padding: 7px;
    }
    
}
@media only screen and (max-width: 768px) and (min-width: 376px){
    header {
        display : flex;
        padding-top:30px;
        padding-left: 5%; 
    }
    .garis{
        left: 50px;
        top: 850px;
        border: 1px  solid #3D3D3F; 
    }
    .judul h1{
        font-size: 35px;
        margin-top: 40px;
    }
    img{
        width: 100px;
    }
    .contact td{
        padding-left:15px;
        font-size: 33px;
    }
    .contact img{
        padding: 7px;
    }

}
@media only screen and (max-width: 645px){
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        
        color:#3d3d3f;
        font-size: 20px;
        padding-top: 100%;
    }
    
    nav.active{
        display: block;
       
    }
    nav.active ul{
        display:flex;
        flex-direction: column;
        border: #7dce94;

    }
    nav{
        display: none;
    }
    header {
        display : flex;
        align-items: center;
        padding-top:30px;
        padding-left: 5%; 
    }
}
